<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../asset/style/base.css">
    <link rel="stylesheet" href="../asset/style/innovation.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sparklart</title>
</head>
<body>
    <aside>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="logo">
            <path d="M17 4H3V6H17V4ZM13 11H3V13H13V11ZM17 18H3V20H17V18ZM15.9896 8.81412L17.4038 7.3999L22 11.9961L17.4038 16.5923L15.9896 15.1781L19.1716 11.9961L15.9896 8.81412Z"></path>
        </svg>
        <ul>
            <li><a href="#"><img src="#" alt="#"><p>home</p></a></li>
            <li><a href="#"><img src="#" alt="#"><p>Spotlight</p></a></li>
            <li><a href="#"><img src="#" alt="#"><p>Inspiration</p></a></li>
        </ul>
        <div id="nav-content">

        </div>
    </aside>
    <main>
        <div>
            <h1>WANT TO SEE SOMEFING FRECH??</h1>
            <h2>WE GOT U FAM</h2>
        </div>
        <div>
            <div class="content-art">
                <div class="art">

                </div>
            </div>

            <div class="content-art">
                <div class="art">

                </div>
            </div>

            <div class="content-art">
                <div class="art">

                </div>
            </div>

            <div class="content-art">
                <div class="art">

                </div>
            </div>

            <div class="content-art">
                <div class="art">

                </div>
            </div>

            <div class="content-art">
                <div class="art">

                </div>
            </div>

        </div>
    </main>
</body>
</html>