<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/style/base.css">
    <link rel="stylesheet" href="../asset/style/spot-light.css">
    <title>Sparklart</title>
</head>
<body>
    <nav>
        <h2>Spot-light</h2>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H15V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
        <ul>
            <li><a href="../index.html">home</a></li>
            <li><a href="innovation.html">innovation</a></li>
            <li><a href="#">inspiration</a></li>
        </ul>
    </nav>
    <div class="content">
            <div class="work-of-art">
                <img src="#" alt="#">
            </div>

            <div class="work-of-art">
                <img src="#" alt="#">
            </div>

            <div class="work-of-art">
                <img src="#" alt="#">
            </div>
    </div>
</body>
</html>